@using Infrastructure
@using MusicDownloader.Resources.Pages
@{
    ViewBag.Title = MusicDownloader.Resources.Pages.Layout.HowItWorksLinkText;
}

@section PageMeta
{
    <meta name="keywords" lang="EN" content="how, music, download, free, multiple, playlist, offline, zip">
    <meta name="description" lang="EN" content="How to download lots of music at once free as zip archive">
    <meta name="keywords" lang="RU" content="Как, музыка, скачать, бесплатно, несколько, плейлист, офлайн, zip">
    <meta name="description" lang="RU" content="Как скачать много музыки сразу бесплатно как zip архив">
    <meta name="keywords" lang="UK" content="Як, музика, завантажити, безкоштовно, кілька, плейлист, офлайн, zip">
    <meta name="description" lang="UK" content="Як завантажити багато музики відразу безкоштовно як zip архів">
}

<div class="how-it-works-page">
    <div class="container body-content" style="text-align: center">
        <h1><i class="fa fa-book" aria-hidden="true"></i> @HowItWorks.UserGuideTitle</h1>
        <div class="how-it-works-content">
            <ol>
                <li>@HowItWorks.WriteSongsIntoInput</li>
                <li>@HowItWorks.EachSongOnSeparateLine</li>
                <li>@HowItWorks.WhenSearchIsCompleted</li>
                <li>@HowItWorks.SearchHasStarted</li>
                <li>@HowItWorks.WhenSearchIsCompleted</li>
            </ol>
        </div>
    </div>
</div>

